html {
	background-color: #ecf3ef;
}

.flag {
	font-size: 50px;
}

.hint {
	border-left: 5px solid #D2691E;
	background-color: #aaaaaa;
	color: white;
	padding: 10px;
	margin: 10px;
}

.center {
	text-align: center;
    margin: auto;
    width: 65%;
	min-width: 400px;
    padding: 10px;
}