
.container {
	position: relative;
	margin: auto;
	justify-content: center;
	border: 2px solid black;
	height: 50%;
	width: 50%;
	transform: translate(0, 100%);
}

#picback {
	position: absolute;
	top: 5;
	left: 5;
}

.container form {
	text-align: center;
}

.link {
	color: blue;
}

#gallery {
	text-align: center;
	margin-top: -2%;
}

.container p {
	font-size: 30px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	font-size: 1.25em;
	font-weight: 700;
	color: white;
	background-color: green;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 4px;
	margin: 5px;
}

div.img {
	display: inline-block;
	margin: 5px;
	border: 1px solid black;
	width: 180px;
}

div.img:hover {
	border: 1px solid blue;
}

div.img img {
	width: 100%;
	height: auto;
}